/node_modules
/public/hot
/public/storage
/public/apk
/public/uploads
/public/sapapi/incDBPG.php
/public/sapapi/coreAPI.php
/public/acl/acl_test.php
/public/file_customer
/vendor/composer
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Http/Controllers/Menus/TestController.php
/app/Http/Controllers/Api/Test2Controller.php
/config/database.php

