#Rectangle_241_bv {
   fill: rgba(255,255,255,1);
}
.Rectangle_241_bv {
   position: fixed;
   overflow: visible;
   width: 152px;
   height: 19px;
   left: 42px;
   top: 80px;
}

.mediaViewInfo {
   --web-view-name: 0200 Dashboard;
   --web-view-id: ID0200_Dashboard;
   --web-scale-on-resize: true;
   --web-enable-deep-linking: true;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
}



#Path_169 {
   fill: rgba(255,255,255,1);
}
.Path_169 {
   filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
   overflow: visible;
   position: absolute;
   width: 254px;
   height: 293.411px;
   left: 564px;
   top: 196.842px;
   transform: matrix(1,0,0,1,0,0);
}
#Path_170 {
   fill: rgba(255,255,255,1);
}
.Path_170 {
   filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
   overflow: visible;
   position: absolute;
   width: 254px;
   height: 293.411px;
   left: 816px;
   top: 196.842px;
   transform: matrix(1,0,0,1,0,0);
}
#Path_171 {
   fill: rgba(255,255,255,1);
}
.Path_171 {
   filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
   overflow: visible;
   position: absolute;
   width: 254px;
   height: 293.411px;
   left: 1068px;
   top: 196.842px;
   transform: matrix(1,0,0,1,0,0);
}
#Intersection_21 {
   fill: rgba(55,183,51,1);
}
.Intersection_21 {
   overflow: visible;
   position: absolute;
   width: 236.001px;
   height: 138.001px;
   left: 564px;
   top: 196px;
   transform: matrix(1,0,0,1,0,0);
}
#Intersection_22 {
   fill: rgba(245,180,67,1);
}
.Intersection_22 {
   overflow: visible;
   position: absolute;
   width: 236.001px;
   height: 138.001px;
   left: 816px;
   top: 196px;
   transform: matrix(1,0,0,1,0,0);
}
#Intersection_23 {
   fill: rgba(158,51,183,1);
}
.Intersection_23 {
   overflow: visible;
   position: absolute;
   width: 236.001px;
   height: 138.001px;
   left: 1068px;
   top: 196px;
   transform: matrix(1,0,0,1,0,0);
}


#Group_716 {
   position: absolute;
   width: 236.001px;
   height: 276.253px;
   left: 60px;
   top: 196px;
   overflow: visible;
   /* --web-animation: fadein undefineds undefined;
   --web-action-type: page; */
   /* --web-action-target: 0201_Detail_Fish_Feed__1__Main_.html; */
   /* --web-action-target: company; */
   cursor: pointer;
}
#Path_130 {
   fill: rgba(255,255,255,1);
}
.Path_130 {
   filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
   overflow: visible;
   position: absolute;
   width: 254px;
   height: 293.411px;
   left: 0px;
   top: 0.842px;
   transform: matrix(1,0,0,1,0,0);
}
#Intersection_2 {
   fill: rgba(51,122,183,1);
}
.Intersection_2 {
   overflow: visible;
   position: absolute;
   width: 236.001px;
   height: 138.001px;
   left: 0px;
   top: 0px;
   transform: matrix(1,0,0,1,0,0);
}
#Fish_Feed_bp {
   left: 51px;
   top: 50.286px;
   position: absolute;
   overflow: visible;
   width: 138px;
   white-space: nowrap;
   text-align: left;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   color: rgba(255,255,255,1);
}
#Customer {
   left: 67px;
   top: 229.286px;
   position: absolute;
   overflow: visible;
   width: 105px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(84,84,84,1);
}
#ID1201 {
   left: 37px;
   top: 150.286px;
   position: absolute;
   overflow: visible;
   width: 161px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   color: rgba(84,84,84,1);
   letter-spacing: -0.25px;
}
#Customer_bs {
   left: 631px;
   top: 425.286px;
   position: absolute;
   overflow: visible;
   width: 105px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(84,84,84,1);
}
#ID2492 {
   left: 601px;
   top: 346.286px;
   position: absolute;
   overflow: visible;
   width: 161px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   color: rgba(84,84,84,1);
   letter-spacing: -0.25px;
}
#Customer_bu {
   left: 883px;
   top: 425.286px;
   position: absolute;
   overflow: visible;
   width: 105px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(84,84,84,1);
}
#ID1592 {
   left: 853px;
   top: 346.286px;
   position: absolute;
   overflow: visible;
   width: 161px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   color: rgba(84,84,84,1);
   letter-spacing: -0.25px;
}
#Customer_bw {
   left: 1135px;
   top: 425.286px;
   position: absolute;
   overflow: visible;
   width: 105px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(84,84,84,1);
}
#ID2094 {
   left: 1105px;
   top: 346.286px;
   position: absolute;
   overflow: visible;
   width: 161px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   color: rgba(84,84,84,1);
   letter-spacing: -0.25px;
}
#Group_715 {
   position: absolute;
   width: 236.001px;
   height: 276.253px;
   left: 312px;
   top: 196px;
   overflow: visible;
   /* --web-animation: fadein undefineds undefined;
   --web-action-type: page;
   --web-action-target: 0201_Detail_Fish_Feed__1__Main_.html; */
   cursor: pointer;
}
#Path_168 {
   fill: rgba(255,255,255,1);
}
.Path_168 {
   filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
   overflow: visible;
   position: absolute;
   width: 254px;
   height: 293.411px;
   left: 0px;
   top: 0.842px;
   transform: matrix(1,0,0,1,0,0);
}
#Intersection_20 {
   fill: rgba(214,63,63,1);
}
.Intersection_20 {
   overflow: visible;
   position: absolute;
   width: 236.001px;
   height: 138.001px;
   left: 0px;
   top: 0px;
   transform: matrix(1,0,0,1,0,0);
}
#Customer_b {
   left: 67px;
   top: 229.286px;
   position: absolute;
   overflow: visible;
   width: 105px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(84,84,84,1);
}
#ID502 {
   left: 64px;
   top: 150.286px;
   position: absolute;
   overflow: visible;
   width: 107px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   color: rgba(84,84,84,1);
   letter-spacing: -0.25px;
}
#Fish_Fry {
   left: 63px;
   top: 45.286px;
   position: absolute;
   overflow: visible;
   width: 113px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   color: rgba(255,255,255,1);
}
#Food {
   left: 647px;
   top: 241.286px;
   position: absolute;
   overflow: visible;
   width: 73px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   color: rgba(255,255,255,1);
}
#FPD {
   left: 906px;
   top: 241.286px;
   position: absolute;
   overflow: visible;
   width: 59px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   color: rgba(255,255,255,1);
}
#Pet_CWS {
   left: 1125px;
   top: 241.286px;
   position: absolute;
   overflow: visible;
   width: 125px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   color: rgba(255,255,255,1);
}
#Path_182 {
   fill: rgba(255,255,255,1);
}
.Path_182 {
   filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
   overflow: visible;
   position: absolute;
   width: 254px;
   height: 293.411px;
   left: 312px;
   top: 493.842px;
   transform: matrix(1,0,0,1,0,0);
}
#Path_183 {
   fill: rgba(255,255,255,1);
}
.Path_183 {
   filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
   overflow: visible;
   position: absolute;
   width: 254px;
   height: 293.411px;
   left: 564px;
   top: 493.842px;
   transform: matrix(1,0,0,1,0,0);
}
#Path_184 {
   fill: rgba(255,255,255,1);
}
.Path_184 {
   filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
   overflow: visible;
   position: absolute;
   width: 254px;
   height: 293.411px;
   left: 816px;
   top: 493.842px;
   transform: matrix(1,0,0,1,0,0);
}
#Intersection_24 {
   fill: rgba(43,185,201,1);
}
.Intersection_24 {
   overflow: visible;
   position: absolute;
   width: 236.001px;
   height: 138.001px;
   left: 312px;
   top: 493px;
   transform: matrix(1,0,0,1,0,0);
}
#Intersection_25 {
   fill: rgba(77,106,184,1);
}
.Intersection_25 {
   overflow: visible;
   position: absolute;
   width: 236.001px;
   height: 138.001px;
   left: 564px;
   top: 493px;
   transform: matrix(1,0,0,1,0,0);
}
#Intersection_26 {
   fill: rgba(0,167,110,1);
}
.Intersection_26 {
   overflow: visible;
   position: absolute;
   width: 236.001px;
   height: 138.001px;
   left: 816px;
   top: 493px;
   transform: matrix(1,0,0,1,0,0);
}
#Path_186 {
   fill: rgba(255,255,255,1);
}
.Path_186 {
   filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
   overflow: visible;
   position: absolute;
   width: 254px;
   height: 293.411px;
   left: 60px;
   top: 493.842px;
   transform: matrix(1,0,0,1,0,0);
}
#Intersection_28 {
   fill: rgba(202,214,32,1);
}
.Intersection_28 {
   overflow: visible;
   position: absolute;
   width: 236.001px;
   height: 138.001px;
   left: 60px;
   top: 493px;
   transform: matrix(1,0,0,1,0,0);
}
#Pet_SuHS {
   left: 111px;
   top: 543.286px;
   position: absolute;
   overflow: visible;
   width: 135px;
   white-space: nowrap;
   text-align: left;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   color: rgba(255,255,255,1);
}
#Customer_bg {
   left: 127px;
   top: 722.286px;
   position: absolute;
   overflow: visible;
   width: 105px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(84,84,84,1);
}
#ID902 {
   left: 124px;
   top: 643.286px;
   position: absolute;
   overflow: visible;
   width: 107px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   color: rgba(84,84,84,1);
   letter-spacing: -0.25px;
}
#Customer_bi {
   left: 379px;
   top: 722.286px;
   position: absolute;
   overflow: visible;
   width: 105px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(84,84,84,1);
}
#ID557 {
   left: 376px;
   top: 643.286px;
   position: absolute;
   overflow: visible;
   width: 107px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   color: rgba(84,84,84,1);
   letter-spacing: -0.25px;
}
#Customer_bk {
   left: 631px;
   top: 722.286px;
   position: absolute;
   overflow: visible;
   width: 105px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(84,84,84,1);
}
#ID1692 {
   left: 601px;
   top: 643.286px;
   position: absolute;
   overflow: visible;
   width: 161px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   color: rgba(84,84,84,1);
   letter-spacing: -0.25px;
}
#Customer_bm {
   left: 883px;
   top: 722.286px;
   position: absolute;
   overflow: visible;
   width: 105px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(84,84,84,1);
}
#ID375 {
   left: 880px;
   top: 643.286px;
   position: absolute;
   overflow: visible;
   width: 107px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 64px;
   color: rgba(84,84,84,1);
   letter-spacing: -0.25px;
}
#Probiotik {
   left: 367px;
   top: 538.286px;
   position: absolute;
   overflow: visible;
   width: 129px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   color: rgba(255,255,255,1);
}
#Shrimp_Feed {
   left: 594px;
   top: 538.286px;
   position: absolute;
   overflow: visible;
   width: 179px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   color: rgba(255,255,255,1);
}
#Shrimp_Fry {
   left: 859px;
   top: 538.286px;
   position: absolute;
   overflow: visible;
   width: 153px;
   white-space: nowrap;
   text-align: center;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   color: rgba(255,255,255,1);
}