/* <style> */
:root {
   --web-view-ids: ID0200_Dashboard;
}
	#ID0200_Dashboard {
		position: absolute;
		width: 1366px;
		height: 838px;
		background-color: rgba(239,239,239,1);
		overflow: hidden;
		--web-view-name: 0200 Dashboard;
		--web-view-id: ID0200_Dashboard;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_242_bc {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_242_bc {
		position: absolute;
		overflow: visible;
		width: 1366px;
		height: 257px;
		left: 0px;
		top: 99px;
	}
	#Line_116_bj {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_116_bj {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 60px;
		top: 550.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_399_bk {
		position: absolute;
		width: 388px;
		height: 43px;
		left: 59px;
		top: 130px;
		overflow: visible;
	}
	#Welcome_Aditya_Yudha_bl {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 389px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		color: rgba(88,88,88,1);
	}
	#Rectangle_43_bs {
		fill: url(#Rectangle_43_bs);
	}
	.Rectangle_43_bs {
		position: fixed;
		overflow: visible;
		width: 1366px;
		height: 99px;
		left: 0px;
		top: 0px;
	}
	
	#Aditya_Yudha_bw {
		left: 1066px;
		top: 33.286px;
		position: fixed;
		overflow: visible;
		width: 142px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Group_661_bx {
		position: fixed;
		width: 65.971px;
		height: 65.971px;
		left: 1237px;
		top: 16.561px;
		overflow: visible;
		cursor: pointer;
		--web-animation: ;
		--web-action-type: page;
		--web-action-target: logout;
	}
	#Ellipse_16_by {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_16_by {
		position: absolute;
		overflow: visible;
		width: 65.971px;
		height: 65.972px;
		left: 0px;
		top: 0px;
	}

	#Intersection_1_b {
		fill: rgba(88,88,88,1);
		stroke: rgba(0,0,0,0);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Intersection_1_b {
		overflow: visible;
		position: absolute;
		width: 55.955px;
		height: 56.61px;
		left: 5.896px;
		top: 10.268px;
		transform: matrix(1,0,0,1,0,0);
	}
/* </style> */