#Aditya_Yudha_bw {
   left: 1066px;
   top: 33.286px;
   position: fixed;
   overflow: visible;
   width: 142px;
   white-space: nowrap;
   text-align: left;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   color: rgba(255,255,255,1);
}