/* <style id="applicationStylesheet" type="text/css"> */
	.mediaViewInfo {
		--web-view-name: 0300 Setting;
		--web-view-id: ID0300_Setting;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: ID0300_Setting;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#ID0300_Setting {
		position: absolute;
		width: 1366px;
		height: 838px;
		background-color: rgba(239,239,239,1);
		overflow: hidden;
		--web-view-name: 0300 Setting;
		--web-view-id: ID0300_Setting;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	/* @keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	} */
	#Rectangle_242_cgt {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_242_cgt {
		position: absolute;
		overflow: visible;
		width: 1366px;
		height: 189px;
		left: 0px;
		top: 99px;
	}
	#Group_399_cgu {
		position: absolute;
		width: 388px;
		height: 43px;
		left: 59px;
		top: 130px;
		overflow: visible;
	}
	#Welcome_Aditya_Yudha_cgv {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 389px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		color: rgba(88,88,88,1);
	}
	#Rectangle_43_cgx {
		fill: url(#Rectangle_43_cgx);
	}
	.Rectangle_43_cgx {
		position: fixed;
		overflow: visible;
		width: 1366px;
		height: 99px;
		left: 0px;
		top: 0px;
	}
	/* #Dashboard_cgy {
		left: 60px;
		top: 35.286px;
		position: fixed;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: dashboard;
		cursor: pointer;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Setting_cgz {
		left: 250px;
		top: 35.286px;
		position: fixed;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	} */
	#Rectangle_241_cg {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_241_cg {
		position: fixed;
		overflow: visible;
		width: 152px;
		height: 19px;
		left: 212px;
		top: 80px;
	}
	#Aditya_Yudha_cg {
		left: 1066px;
		top: 33.286px;
		position: fixed;
		overflow: visible;
		width: 142px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Group_731_cg {
		position: absolute;
		width: 613px;
		height: 97px;
		left: 61px;
		top: 230px;
		overflow: visible;
		/* --web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: upload; */
		cursor: pointer;
	}
	#Rectangle_515_cg {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_515_cg {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 631px;
		height: 115px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_516_cg {
		fill: rgba(214,63,63,1);
	}
	.Rectangle_516_cg {
		position: absolute;
		overflow: visible;
		width: 136px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#Upload_Data_from_Excel_cg {
		left: 180px;
		top: 38.286px;
		position: absolute;
		overflow: visible;
		width: 251px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(84,84,84,1);
	}
	#upload_from_excel {
		position: absolute;
		width: 32.188px;
		height: 48.258px;
		left: 51.999px;
		top: 24.063px;
		overflow: visible;
	}
	#Path_197_cg {
		fill: rgba(255,255,255,1);
	}
	.Path_197_cg {
		overflow: visible;
		position: absolute;
		width: 32.188px;
		height: 48.258px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_732_cg {
		position: absolute;
		width: 613px;
		height: 97px;
		left: 61px;
		top: 347px;
		overflow: visible;
		cursor: pointer;
		/* --web-animation: ;
		--web-action-type: page;
		--web-action-target: download; */
	}
	#Rectangle_517_cg {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_517_cg {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 631px;
		height: 115px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_518_cha {
		fill: rgba(0,167,110,1);
	}
	.Rectangle_518_cha {
		position: absolute;
		overflow: visible;
		width: 136px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#Download_Data_to_Excel_chb {
		left: 180px;
		top: 38.286px;
		position: absolute;
		overflow: visible;
		width: 253px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(84,84,84,1);
	}
	#download_to_excel {
		position: absolute;
		width: 57.777px;
		height: 54.164px;
		left: 39px;
		top: 21.428px;
		overflow: visible;
	}
	#Group_736_chd {
		position: absolute;
		width: 32.5px;
		height: 54.164px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_735_che {
		position: absolute;
		width: 32.5px;
		height: 54.164px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_199_chf {
		fill: rgba(255,255,255,1);
	}
	.Path_199_chf {
		overflow: visible;
		position: absolute;
		width: 32.5px;
		height: 54.164px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_738_chg {
		position: absolute;
		width: 28.889px;
		height: 39.722px;
		left: 28.889px;
		top: 7.22px;
		overflow: visible;
	}
	#Group_737_chh {
		position: absolute;
		width: 28.889px;
		height: 39.722px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_200_chi {
		fill: rgba(255,255,255,1);
	}
	.Path_200_chi {
		overflow: visible;
		position: absolute;
		width: 28.889px;
		height: 39.722px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_740_chj {
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 28.889px;
		top: 14.442px;
		overflow: visible;
	}
	#Group_739_chk {
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_201_chl {
		fill: rgba(255,255,255,1);
	}
	.Path_201_chl {
		overflow: visible;
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_742_chm {
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 28.889px;
		top: 21.664px;
		overflow: visible;
	}
	#Group_741_chn {
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_202_cho {
		fill: rgba(255,255,255,1);
	}
	.Path_202_cho {
		overflow: visible;
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_744_chp {
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 28.889px;
		top: 28.887px;
		overflow: visible;
	}
	#Group_743_chq {
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_203_chr {
		fill: rgba(255,255,255,1);
	}
	.Path_203_chr {
		overflow: visible;
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_746_chs {
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 28.889px;
		top: 36.108px;
		overflow: visible;
	}
	#Group_745_cht {
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_204_chu {
		fill: rgba(255,255,255,1);
	}
	.Path_204_chu {
		overflow: visible;
		position: absolute;
		width: 10.833px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_748_chv {
		position: absolute;
		width: 7.222px;
		height: 3.611px;
		left: 43.333px;
		top: 14.442px;
		overflow: visible;
	}
	#Group_747_chw {
		position: absolute;
		width: 7.222px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_205_chx {
		fill: rgba(255,255,255,1);
	}
	.Path_205_chx {
		overflow: visible;
		position: absolute;
		width: 7.223px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_750_chy {
		position: absolute;
		width: 7.222px;
		height: 3.611px;
		left: 43.333px;
		top: 21.664px;
		overflow: visible;
	}
	#Group_749_chz {
		position: absolute;
		width: 7.222px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_206_ch {
		fill: rgba(255,255,255,1);
	}
	.Path_206_ch {
		overflow: visible;
		position: absolute;
		width: 7.223px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_752_ch {
		position: absolute;
		width: 7.222px;
		height: 3.611px;
		left: 43.333px;
		top: 28.887px;
		overflow: visible;
	}
	#Group_751_ch {
		position: absolute;
		width: 7.222px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_207_ch {
		fill: rgba(255,255,255,1);
	}
	.Path_207_ch {
		overflow: visible;
		position: absolute;
		width: 7.223px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_754_ch {
		position: absolute;
		width: 7.222px;
		height: 3.611px;
		left: 43.333px;
		top: 36.108px;
		overflow: visible;
	}
	#Group_753_ch {
		position: absolute;
		width: 7.222px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_208_ch {
		fill: rgba(255,255,255,1);
	}
	.Path_208_ch {
		overflow: visible;
		position: absolute;
		width: 7.223px;
		height: 3.611px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_756_ch {
		position: absolute;
		width: 16.253px;
		height: 18.056px;
		left: 9.028px;
		top: 18.053px;
		overflow: visible;
	}
	#Group_755_ch {
		position: absolute;
		width: 16.253px;
		height: 18.056px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_209_ch {
		fill: rgba(255,255,255,1);
	}
	.Path_209_ch {
		overflow: visible;
		position: absolute;
		width: 16.252px;
		height: 18.057px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_758_cia {
		position: absolute;
		width: 16.249px;
		height: 19.861px;
		left: 9.027px;
		top: 16.248px;
		overflow: visible;
	}
	#Group_757_cib {
		position: absolute;
		width: 16.249px;
		height: 19.861px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_210_cic {
		fill: rgba(255,255,255,1);
	}
	.Path_210_cic {
		overflow: visible;
		position: absolute;
		width: 16.25px;
		height: 19.86px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_734_cid {
		position: absolute;
		width: 613px;
		height: 97px;
		left: 690px;
		top: 230px;
		overflow: visible;
		/* --web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: syncronize; */
		cursor: pointer;
	}
	#Rectangle_519_cie {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_519_cie {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 631px;
		height: 115px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_520_cif {
		fill: rgba(245,180,67,1);
	}
	.Rectangle_520_cif {
		position: absolute;
		overflow: visible;
		width: 136px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#Sync_Data_cig {
		left: 180px;
		top: 38.286px;
		position: absolute;
		overflow: visible;
		width: 108px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(84,84,84,1);
	}
	#sync_cih {
		position: absolute;
		width: 45.916px;
		height: 63.135px;
		left: 47px;
		top: 21.199px;
		overflow: visible;
	}
	#Group_760_cii {
		position: absolute;
		width: 45.916px;
		height: 63.135px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_759_cij {
		position: absolute;
		width: 45.916px;
		height: 63.135px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_211_cik {
		fill: rgba(255,255,255,1);
	}
	.Path_211_cik {
		overflow: visible;
		position: absolute;
		width: 34.438px;
		height: 43.808px;
		left: 0px;
		top: 19.327px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_212_cil {
		fill: rgba(255,255,255,1);
	}
	.Path_212_cil {
		overflow: visible;
		position: absolute;
		width: 34.438px;
		height: 43.807px;
		left: 11.479px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_733_cim {
		position: absolute;
		width: 613px;
		height: 97px;
		left: 690px;
		top: 347px;
		overflow: visible;
		/* --web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: info; */
		cursor: pointer;
	}
	#Rectangle_521_cin {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_521_cin {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 631px;
		height: 115px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_522_cio {
		fill: rgba(43,185,201,1);
	}
	.Rectangle_522_cio {
		position: absolute;
		overflow: visible;
		width: 136px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#Login_Information_cip {
		left: 180px;
		top: 38.286px;
		position: absolute;
		overflow: visible;
		width: 191px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(84,84,84,1);
	}
	#login_info {
		position: absolute;
		width: 52.725px;
		height: 52.723px;
		left: 42px;
		top: 22.177px;
		overflow: visible;
	}
	#Group_761_cir {
		position: absolute;
		width: 52.725px;
		height: 52.723px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_213_cis {
		fill: rgba(255,255,255,1);
	}
	.Path_213_cis {
		overflow: visible;
		position: absolute;
		width: 52.725px;
		height: 52.723px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#user_cit {
		position: absolute;
		width: 65.971px;
		height: 65.971px;
		left: 1237px;
		top: 16.561px;
		overflow: visible;
		cursor: pointer;
		--web-animation: ;
		--web-action-type: page;
		--web-action-target: 0502_Log_Out.html;
	}
	#Ellipse_16_ciu {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_16_ciu {
		position: absolute;
		overflow: visible;
		width: 65.971px;
		height: 65.972px;
		left: 0px;
		top: 0px;
	}
	#Intersection_1_civ {
		fill: rgba(88,88,88,1);
		stroke: rgba(0,0,0,0);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Intersection_1_civ {
		overflow: visible;
		position: absolute;
		width: 55.955px;
		height: 56.61px;
		left: 5.896px;
		top: 10.268px;
		transform: matrix(1,0,0,1,0,0);
	}
/* </style> */