/* <style id="applicationStylesheet" type="text/css"> */
	.mediaViewInfo {
		--web-view-name: 0201 Detail Fish Feed (2. Selected Company);
		--web-view-id: ID0201_Detail_Fish_Feed_2_Selected_Company;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: ID0201_Detail_Fish_Feed_2_Selected_Company;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#ID0201_Detail_Fish_Feed_2_Selected_Company {
		position: absolute;
		width: 1366px;
		height: 1923px;
		background-color: rgba(239,239,239,1);
		overflow: hidden;
		cursor: pointer;
		--web-view-name: 0201 Detail Fish Feed (2. Selected Company);
		--web-view-id: ID0201_Detail_Fish_Feed_2_Selected_Company;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}

	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}

	#Repeat_Grid_1 {
		position: absolute;
		width: 1263px;
		height: 1352px;
		left: 51px;
		top: 358px;
		overflow: hidden;
	}
	#Repeat_Grid_1_0 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 6px;
		overflow: visible;
	}
	#Rectangle_249 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904 {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		/* --web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: detail; */
		cursor: pointer;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_k {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840 {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124 {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721 {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
		cursor: pointer;
		/* --web-animation: ;
		--web-action-type: page;
		--web-action-target: 0501_Yes__No_Questions__2__Delete_Customer_.html; */
	}
	#Ellipse_57 {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57 {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191 {
		fill: rgba(255,255,255,1);
	}
	.Path_191 {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192 {
		fill: rgba(255,255,255,1);
	}
	.Path_192 {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193 {
		fill: rgba(255,255,255,1);
	}
	.Path_193 {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194 {
		fill: rgba(255,255,255,1);
	}
	.Path_194 {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Repeat_Grid_1_1 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 141px;
		overflow: visible;
	}
	#Rectangle_249_lf {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249_lf {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904_lg {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto_lh {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima_li {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_lj {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840_lk {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat_ll {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124_lm {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721_ln {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
	}
	#Ellipse_57_lo {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_lo {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete_lp {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191_lq {
		fill: rgba(255,255,255,1);
	}
	.Path_191_lq {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_lr {
		fill: rgba(255,255,255,1);
	}
	.Path_192_lr {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_ls {
		fill: rgba(255,255,255,1);
	}
	.Path_193_ls {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_lt {
		fill: rgba(255,255,255,1);
	}
	.Path_194_lt {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Repeat_Grid_1_2 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 276px;
		overflow: visible;
	}
	#Rectangle_249_lv {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249_lv {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904_lw {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto_lx {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima_ly {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_lz {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840_l {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat_l {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124_l {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721_l {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
	}
	#Ellipse_57_l {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_l {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete_l {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191_l {
		fill: rgba(255,255,255,1);
	}
	.Path_191_l {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_l {
		fill: rgba(255,255,255,1);
	}
	.Path_192_l {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_l {
		fill: rgba(255,255,255,1);
	}
	.Path_193_l {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_l {
		fill: rgba(255,255,255,1);
	}
	.Path_194_l {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Repeat_Grid_1_3 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 411px;
		overflow: visible;
	}
	#Rectangle_249_mb {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249_mb {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904_mc {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto_md {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima_me {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_mf {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840_mg {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat_mh {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124_mi {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721_mj {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
	}
	#Ellipse_57_mk {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_mk {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete_ml {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191_mm {
		fill: rgba(255,255,255,1);
	}
	.Path_191_mm {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_mn {
		fill: rgba(255,255,255,1);
	}
	.Path_192_mn {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_mo {
		fill: rgba(255,255,255,1);
	}
	.Path_193_mo {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_mp {
		fill: rgba(255,255,255,1);
	}
	.Path_194_mp {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Repeat_Grid_1_4 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 546px;
		overflow: visible;
	}
	#Rectangle_249_mr {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249_mr {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904_ms {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto_mt {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima_mu {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_mv {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840_mw {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat_mx {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124_my {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721_mz {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
	}
	#Ellipse_57_m {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_m {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete_m {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191_m {
		fill: rgba(255,255,255,1);
	}
	.Path_191_m {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_m {
		fill: rgba(255,255,255,1);
	}
	.Path_192_m {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_m {
		fill: rgba(255,255,255,1);
	}
	.Path_193_m {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_m {
		fill: rgba(255,255,255,1);
	}
	.Path_194_m {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Repeat_Grid_1_5 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 681px;
		overflow: visible;
	}
	#Rectangle_249_m {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249_m {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904_m {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto_m {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima_na {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_nb {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840_nc {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat_nd {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124_ne {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721_nf {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
	}
	#Ellipse_57_ng {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_ng {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete_nh {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191_ni {
		fill: rgba(255,255,255,1);
	}
	.Path_191_ni {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_nj {
		fill: rgba(255,255,255,1);
	}
	.Path_192_nj {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_nk {
		fill: rgba(255,255,255,1);
	}
	.Path_193_nk {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_nl {
		fill: rgba(255,255,255,1);
	}
	.Path_194_nl {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Repeat_Grid_1_6 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 816px;
		overflow: visible;
	}
	#Rectangle_249_nn {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249_nn {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904_no {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto_np {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima_nq {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_nr {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840_ns {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat_nt {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124_nu {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721_nv {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
	}
	#Ellipse_57_nw {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_nw {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete_nx {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191_ny {
		fill: rgba(255,255,255,1);
	}
	.Path_191_ny {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_nz {
		fill: rgba(255,255,255,1);
	}
	.Path_192_nz {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_n {
		fill: rgba(255,255,255,1);
	}
	.Path_193_n {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_n {
		fill: rgba(255,255,255,1);
	}
	.Path_194_n {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Repeat_Grid_1_7 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 951px;
		overflow: visible;
	}
	#Rectangle_249_n {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249_n {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904_n {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto_n {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima_n {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_n {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840_n {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat_n {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124_oa {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721_ob {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
	}
	#Ellipse_57_oc {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_oc {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete_od {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191_oe {
		fill: rgba(255,255,255,1);
	}
	.Path_191_oe {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_of {
		fill: rgba(255,255,255,1);
	}
	.Path_192_of {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_og {
		fill: rgba(255,255,255,1);
	}
	.Path_193_og {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_oh {
		fill: rgba(255,255,255,1);
	}
	.Path_194_oh {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Repeat_Grid_1_8 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 1086px;
		overflow: visible;
	}
	#Rectangle_249_oj {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249_oj {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904_ok {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto_ol {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima_om {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_on {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840_oo {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat_op {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124_oq {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721_or {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
	}
	#Ellipse_57_os {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_os {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete_ot {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191_ou {
		fill: rgba(255,255,255,1);
	}
	.Path_191_ou {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_ov {
		fill: rgba(255,255,255,1);
	}
	.Path_192_ov {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_ow {
		fill: rgba(255,255,255,1);
	}
	.Path_193_ow {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_ox {
		fill: rgba(255,255,255,1);
	}
	.Path_194_ox {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Repeat_Grid_1_9 {
		position: absolute;
		width: 1245px;
		height: 108px;
		left: 9px;
		top: 1221px;
		overflow: visible;
	}
	#Rectangle_249_oz {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_249_oz {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 1263px;
		height: 126px;
		left: 0px;
		top: 0px;
	}
	#JKT3005904_o {
		left: 21px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(56,154,198,1);
	}
	#Eddie_Susanto_o {
		left: 178px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Agri_Inti_Prima_o {
		left: 346px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Aditya_Yudha_o {
		left: 519px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 124px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID1_-_11_-_2019_175840_o {
		left: 685px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rahmat_o {
		left: 886px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#ID14_-_5_-_2020_132124_o {
		left: 1023px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_721_o {
		position: absolute;
		width: 45px;
		height: 45px;
		left: 1185px;
		top: 32.244px;
		overflow: visible;
	}
	#Ellipse_57_o {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_o {
		position: absolute;
		overflow: visible;
		width: 45px;
		height: 45px;
		left: 0px;
		top: 0px;
	}
	#delete_o {
		position: absolute;
		width: 21.808px;
		height: 26.841px;
		left: 11.439px;
		top: 8.65px;
		overflow: visible;
	}
	#Path_191_pa {
		fill: rgba(255,255,255,1);
	}
	.Path_191_pa {
		overflow: visible;
		position: absolute;
		width: 21.809px;
		height: 26.841px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_192_pb {
		fill: rgba(255,255,255,1);
	}
	.Path_192_pb {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 10.065px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_193_pc {
		fill: rgba(255,255,255,1);
	}
	.Path_193_pc {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 14.259px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_194_pd {
		fill: rgba(255,255,255,1);
	}
	.Path_194_pd {
		overflow: visible;
		position: absolute;
		width: 1.678px;
		height: 12.582px;
		left: 5.871px;
		top: 10.904px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_116_py {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_116_py {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 60px;
		top: 256.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_256 {
		fill: rgba(51,122,183,1);
	}
	.Rectangle_256 {
		position: absolute;
		overflow: visible;
		width: 51px;
		height: 51px;
		left: 535.5px;
		top: 1735px;
	}
	#Rectangle_257 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_257 {
		position: absolute;
		overflow: visible;
		width: 51px;
		height: 51px;
		left: 596.5px;
		top: 1735px;
	}
	#ID1_ph {
		left: 555.5px;
		top: 1748px;
		position: absolute;
		overflow: visible;
		width: 13px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#ID2_pi {
		left: 616.5px;
		top: 1748px;
		position: absolute;
		overflow: visible;
		width: 13px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rectangle_258 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_258 {
		position: absolute;
		overflow: visible;
		width: 51px;
		height: 51px;
		left: 657.5px;
		top: 1735px;
	}
	#ID3_pk {
		left: 677.5px;
		top: 1748px;
		position: absolute;
		overflow: visible;
		width: 13px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rectangle_259 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_259 {
		position: absolute;
		overflow: visible;
		width: 51px;
		height: 51px;
		left: 718.5px;
		top: 1735px;
	}
	#ID4 {
		left: 738.5px;
		top: 1748px;
		position: absolute;
		overflow: visible;
		width: 13px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Rectangle_260 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_260 {
		position: absolute;
		overflow: visible;
		width: 51px;
		height: 51px;
		left: 779.5px;
		top: 1735px;
	}
	#ID5 {
		left: 799.5px;
		top: 1748px;
		position: absolute;
		overflow: visible;
		width: 13px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(84,84,84,1);
	}
	#Group_667 {
		position: absolute;
		width: 15px;
		height: 27px;
		left: 846px;
		top: 1747.5px;
		overflow: visible;
	}
	#Group_666_pq {
		position: absolute;
		width: 15px;
		height: 27px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Line_117_pr {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_117_pr {
		overflow: visible;
		position: absolute;
		width: 18.535px;
		height: 18.535px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_118 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_118 {
		overflow: visible;
		position: absolute;
		width: 18.535px;
		height: 18.535px;
		left: 0px;
		top: 12px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_668 {
		transform: matrix(1,0,0,1,505,1747.5) rotate(180deg);
		transform-origin: center;
		position: absolute;
		width: 15px;
		height: 27px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_666_pu {
		position: absolute;
		width: 15px;
		height: 27px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Line_117_pv {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_117_pv {
		overflow: visible;
		position: absolute;
		width: 18.535px;
		height: 18.535px;
		left: 0px;
		top: 12px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_118_pw {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_118_pw {
		overflow: visible;
		position: absolute;
		width: 18.535px;
		height: 18.535px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_242_px {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_242_px {
		position: absolute;
		overflow: visible;
		width: 1366px;
		height: 200px;
		left: 0px;
		top: 99px;
	}
	#Line_116_py {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_116_py {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 60px;
		top: 256.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_159 {
		fill: rgba(60,141,188,1);
	}
	.Rectangle_159 {
		position: absolute;
		overflow: visible;
		width: 1244px;
		height: 81px;
		left: 60px;
		top: 257px;
	}
	#Customer_ID {
		left: 85px;
		top: 284.423px;
		position: absolute;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#Customer_Name {
		left: 262px;
		top: 270.423px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#Business_Name {
		left: 430px;
		top: 272.423px;
		position: absolute;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#Created_By {
		left: 589.472px;
		top: 286.423px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#Line_1_p {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_p {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 220px;
		top: 256.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_103 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_103 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 388px;
		top: 256.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_107 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_107 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 724.298px;
		top: 256.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_109 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_109 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 892px;
		top: 256.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_111 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_111 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 1059px;
		top: 256.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_113 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_113 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 1228px;
		top: 256.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Created_Date {
		left: 747.131px;
		top: 286.423px;
		position: absolute;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#Last_Update_By {
		left: 931.131px;
		top: 272.423px;
		position: absolute;
		overflow: visible;
		width: 97px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#Last_Update_Date {
		left: 1087.131px;
		top: 272.423px;
		position: absolute;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#Line_127 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_127 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 81.394px;
		left: 557px;
		top: 256.606px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_680 {
		position: fixed;
		width: 107px;
		height: 107px;
		left: 1197px;
		top: 619px;
		overflow: visible;
		cursor: pointer;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: 0401_Add_customer_PopUp.html;
	}
	#Rectangle_292 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_292 {
		position: absolute;
		overflow: visible;
		width: 67px;
		height: 74px;
		left: 21px;
		top: 17px;
	}
	#add {
		fill: rgba(51,122,183,1);
	}
	.add {
		overflow: visible;
		position: absolute;
		width: 107px;
		height: 107px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ID124_Customers_Found {
		left: 60px;
		top: 139.286px;
		position: absolute;
		overflow: visible;
		width: 396px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(84,84,84,1);
	}
	#Rectangle_248 {
		fill: rgba(51,122,183,1);
	}
	.Rectangle_248 {
		position: absolute;
		overflow: visible;
		width: 106px;
		height: 13px;
		left: 60px;
		top: 203px;
	}
	#Rectangle_534 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_534 {
		position: absolute;
		overflow: visible;
		width: 404px;
		height: 62px;
		left: 900px;
		top: 139px;
	}
	#search {
		position: absolute;
		width: 62.067px;
		height: 62.067px;
		left: 1241.933px;
		top: 139.178px;
		overflow: visible;
	}
	#Ellipse_57_ql {
		fill: rgba(230,74,25,1);
	}
	.Ellipse_57_ql {
		position: absolute;
		overflow: visible;
		width: 62.067px;
		height: 62.066px;
		left: 0px;
		top: 0px;
	}
	#Group_469 {
		position: absolute;
		width: 27.352px;
		height: 27.367px;
		left: 17.724px;
		top: 17.501px;
		overflow: visible;
	}
	#Path_22 {
		fill: rgba(228,228,228,1);
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_22 {
		overflow: visible;
		position: absolute;
		width: 30.457px;
		height: 30.484px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Type_anything {
		left: 931px;
		top: 158.286px;
		position: absolute;
		overflow: visible;
		width: 147px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(149,149,149,1);
	}
	#Rectangle_43_qq {
		fill: url(#Rectangle_43_qq);
	}
	.Rectangle_43_qq {
		position: fixed;
		overflow: visible;
		width: 1366px;
		height: 99px;
		left: 0px;
		top: 0px;
	}
	#Aditya_Yudha_qr {
		left: 1066px;
		top: 33.286px;
		position: fixed;
		overflow: visible;
		width: 142px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
	}
	#Dashboard__qs {
		left: 59px;
		top: 29px;
		position: fixed;
		overflow: visible;
		width: 147px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: dashboard;
		cursor: pointer;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.61px;
	}
	#Rectangle_375_qt {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_375_qt {
		position: fixed;
		overflow: visible;
		width: 128px;
		height: 6px;
		left: 198px;
		top: 64px;
	}
	#Fish_Feed_qu {
		left: 215px;
		top: 29px;
		position: fixed;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.61px;
	}
	#Group_661_qv {
		position: fixed;
		width: 65.971px;
		height: 65.971px;
		left: 1237px;
		top: 16.561px;
		overflow: visible;
		cursor: pointer;
		--web-animation: ;
		--web-action-type: page;
		--web-action-target: 0502_Log_Out.html;
	}
	#Ellipse_16_qw {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_16_qw {
		position: absolute;
		overflow: visible;
		width: 65.971px;
		height: 65.972px;
		left: 0px;
		top: 0px;
	}
	#Intersection_1_qx {
		fill: rgba(88,88,88,1);
		stroke: rgba(0,0,0,0);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Intersection_1_qx {
		overflow: visible;
		position: absolute;
		width: 55.956px;
		height: 56.61px;
		left: 5.896px;
		top: 10.268px;
		transform: matrix(1,0,0,1,0,0);
	}
/* </style> */